* {
	transition: .3s;
}

html {
	font-size: 14px;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background-image: linear-gradient(to bottom, rgba(12, 49, 103, 0.81), rgba(12, 49, 103, 1) 70%), url("../img/7854057_1014.jpg");
	background-size: 100%;
	font-family: 'Century Gothic', sans-serif;
}

.page {
	margin-top: 5rem;
}

.main-field {
	min-height: 82.7vh;
}

.blog-details img {
	max-width: 100%;
}

.layout-header {
	background-color: #383838;
	border: solid;
	border-width: 0 0 5px 0;
	border-color: #0e71cd;
}

.top {
	background-color: #0e71cd;
}

.navbar {
	border-radius: 15px 15px 0 0;
}

.top-nav-link {
	text-decoration: none;
	padding: .5rem;
	color: aliceblue;
}

	.top-nav-link:hover {
		color: #0e71cd;
		transition: .5s;
	}

.nav-title {
	display: none;
}

.head-text {
	color: aliceblue;
	text-align: center;
}

.page-intro {
	background-image: linear-gradient(to bottom, rgba(12, 49, 103, 0.7), rgba(12, 49, 103, 1) 90%), url("../img/7854057_1014.jpg");
	background-size: cover;
	background-repeat: repeat-x;
	border-radius: 1.5rem;
}

.tags-line {
	display: grid;
	justify-content: center;
}

.tag-anchor {
	text-decoration: none;
	padding: 0 1rem .1rem 1rem;
	margin: 0 1rem 0 1rem;
	font-size: 1.3rem;
	color: #0e71cd;
	border-radius: .8rem;
}

	.tag-anchor:hover {
		color: aliceblue;
		background-color: rgba(12, 49, 103, 1);
		transition: .5s;
	}

.tag-anchor-inner {
	text-decoration: none;
	padding: 0 1rem .1rem 1rem;
	margin: 0 .1rem 0 .1rem;
	font-size: 1rem;
	color: #0e71cd;
	border-radius: .5rem;
}

	.tag-anchor-inner:hover {
		color: aliceblue;
		background-color: rgba(12, 49, 103, 1);
		transition: .2s;
	}

.post-layout {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
}

.first-post {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-start: span 2;
	height: auto;
	border-radius: 1rem;
}

.first-post-img {
	border-radius: 1rem;
	width: 30rem;
}

.post {
	border-radius: 15px;
}

.post-img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.secondary-post-img {
	height: 15rem;
}

.post-info {
	position: relative;
}

.btn:hover {
	color: #0e71cd;
}

.btn.bg-dark {
	color:aliceblue;
}
	.btn.bg-dark:hover {
		color: #0e71cd;
	}
.btn.bg-light {
	background-color: aliceblue;
	color: #383838;
}

.btn.bg-light:hover {
	color: #0e71cd;
}

.btn-more {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
}

footer {
	width: 100%;
}

@media (min-width: 1400px) {
	.first-post-img {
		width: 33rem;
	}

	.tags-line {
		grid-template-columns: repeat(10, auto);
	}

	.nav-title {
		display: inline;
	}
}

@media (min-width: 992px) and (max-width: 1399px) {
	.nav-title {
		display: inline;
	}

	.tags-line {
		grid-template-columns: repeat(7, auto);
	}
}

@media (max-width: 1199px) {
	.first-post-img {
		width: 20rem;
	}

	.tags-line {
		grid-template-columns: repeat(5, auto);
	}
}

@media (max-width: 991px) {
	.bi {
		font-size: 1.5rem;
	}

	.col-10 {
		width: 100%;
	}

	.tags-line {
		grid-template-columns: repeat(4, auto);
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (max-width: 575px) {
	.nav-title {
		display: inline;
	}

	.description {
		display: none;
	}

	.first-post-img {
		width: 12rem;
	}

	.post-heading {
		font-size: 1.1rem;
		font-weight: bold;
	}

	.tags-line {
		grid-template-columns: repeat(3, auto);
	}

	.tag-anchor {
		font-size: .9rem;
	}
}

@media (max-width: 374px) {
	.first-post-img {
		width: 9rem;
	}

	.post-layout {
		grid-template-columns: repeat(2, 9rem);
	}

	.tags-line {
		grid-template-columns: repeat(2, auto);
	}
}
