

html {
	font-size: 14px;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background-image: linear-gradient(to bottom, rgba(12, 49, 103, 0.81), rgba(12, 49, 103, 1) 70%), url("../img/7854057_1014.jpg");
	background-size: 100%;
	font-family: 'Century Gothic', sans-serif;
}

.page {
	margin-top: 5rem;
}

.main-field {
	min-height: 82.7vh;
}

.blog-details img {
	max-width: 100%;
}

.layout-header {
	background-color: #383838;
	border: solid;
	border-width: 0 0 5px 0;
	border-color: #0e71cd;
}

.top {
	background-color: #0e71cd;
}

.navbar {
	border-radius: 15px 15px 0 0;
}

.top-nav-link {
	text-decoration: none;
	padding: .5rem;
	color: aliceblue;
}

.top-nav-link:hover {
		color: #0e71cd;
		transition: .5s;
}

.nav-title {
		display:none;
}

.head-text {
	color: aliceblue;
	text-align:center;
}

.page-intro {
	background-image: linear-gradient(to bottom, rgba(12, 49, 103, 0.7), rgba(12, 49, 103, 1) 90%), url("../img/7854057_1014.jpg");
	background-size:cover;
	background-repeat:repeat-x;
	border-radius: 1.5rem;
}

.tags-line {
	display:flex;
	justify-content:center;
}

.tag-anchor {
	text-decoration: none;
	padding: 0 1rem .1rem 1rem;
	margin: 0 1rem 0 1rem;
	font-size: 1.3rem;
	color: #0e71cd;
	border-radius: .8rem;
}

.tag-anchor:hover {
	color:aliceblue;
	background-color:rgba(12, 49, 103, 1);
	transition:.5s;
}

.post-layout {
display:grid;
grid-template-columns: repeat(2, 1fr);
}

.first-post {
	display:grid;
	grid-template-columns: 1fr auto;
}
.first-post-img {
	border-radius:1rem
}

.post {
	border-radius: 15px;
}

.post-img {
	border-radius: inherit;
}

footer {
	width: 100%;
}


@media (min-width: 992px) {
	.nav-title {
		display:inline;
	}
}
@media (max-width: 991px) {
	.bi {
		font-size:1.5rem;
	}
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (max-width: 575px) {
	.nav-title {
		display: inline;
	}
}