@page
@model BlogApp.RazorPages.Pages.LoginModel
@{
}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">
			<h1 class="mt-5 mb-3 h3">Login</h1>

			<partial name="_Notification">

				<form method="post">

					<div class="mb-3">
						<label class="form-label">Username</label>
						<input type="text" class="input-control" asp-for="LoginVM.Username" required />
						<span class="text-danger" asp-validation-for="LoginVM.Username"></span>
					</div>
					<div class="mb-3">
						<label class="form-label">Password</label>
						<div style="display:flex">
							<input type="password" class="input-control" id="passwordBox" asp-for="LoginVM.Password" required minlength="6" />
							<span class="password-eye"><i class="bi bi-eye-fill"></i></span>
						</div>
						<span class="text-danger" asp-validation-for="LoginVM.Password"></span>
					</div>

					<div class="mb-3">
						<button type="submit" class="btn bg-dark">Login</button>
					</div>
				</form>
		</div>
	</div>
</div>

@section Scripts
	{
	<script>
		const passField = document.getElementById("passwordBox");
		const showBtn = document.querySelector("span i");
		showBtn.onclick = (() => {
			if (passField.type === "password") {
				passField.type = "text";
				showBtn.classList.remove("bi-eye-fill");
				showBtn.classList.add("bi-eye-slash-fill");
			} else {
				passField.type = "password";
				showBtn.classList.remove("bi-eye-slash-fill");
				showBtn.classList.add("bi-eye-fill");
			}
		});
	</script>
}