@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Blogster</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/BlogApp.RazorPages.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

	<link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
	<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
</head>
<body>
	<div class="container page">
		<header>
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow layout-header">
				<div class="container">
					<a class="navbar-brand" asp-area="" asp-page="/Index">Blogster</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="top-nav-link" asp-area="" asp-page="/Index" title="Home"><i class="bi bi-house-door"></i><span class="nav-title"> Home</span></a>
							</li>
							@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
							{
								<li class="nav-item">
									<a class="top-nav-link" asp-area="" asp-page="/admin/blogposts/add" title="Add Post"><i class="bi bi-pencil-square"></i><span class="nav-title"> Add Blog Post</span></a>
								</li>
								<li class="nav-item">
									<a class="top-nav-link" asp-area="" asp-page="/admin/blogposts/list" title="All Posts"><i class="bi bi-journal-text"></i><span class="nav-title"> Blog Posts</span></a>
								</li>
								<li class="nav-item">
									<a class="top-nav-link" asp-area="" asp-page="/admin/users/index" title="Users"><i class="bi bi-people"></i><span class="nav-title"> Users</span></a>
								</li>
							}
						</ul>
						<div class="d-flex align-items-center">
							@if (signInManager.IsSignedIn(User))
							{
								<div class="me-3 text-light">
									@User?.Identity?.Name
								</div>

								<a href="/logout" class="btn bg-light me-3">Logout</a>
							}
							else
							{
								<a href="/login" class="btn bg-light me-3">Login</a>
								<a href="/register" class="btn bg-light me-3">Register</a>
							}
						</div>
					</div>
				</div>
			</nav>
		</header>

		<main role="main" class="pb-3 main-field" style="background-color:aliceblue">
			@RenderBody()
		</main>

		<footer class="border-top text-muted" style="background-color:#383838; height:3rem;">
			<div class="container">
				&copy; 2023 - Blogster
			</div>
		</footer>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>